
$bgColour :	#201728;

.about-us {

    @include flexContent(column);

    background-color: $bgColour;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 80%;
}

    .discription {

        @include flexContent(column);

        background: #6F249B;
        
        padding: 1em;
        position: absolute; 
        margin: 0 5%;
        top: -15%; 
    }

    .discription::before {
        position: absolute;
        background: #6F249B;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);

    
    }

    p {
        font-family: 'Playfair Display', serif;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        margin: 0 2rem;
    }

    .btn {
        @include flexContent(row);
        margin-top: 5%;
    }

    .about-btn {
        
        @include button();
        
    }

     .arrow-right {
        margin-left: -20px;
    }

    .content {
        z-index: 2;
    }




.about-us::before {
    position: absolute;
    background: $bgColour;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(3deg);
}

/*************************

Desktop view

*************************/

@media (min-width: 992px) {
    .about-us {

        top: 83%;
    }

    p {
        font-size: 2.8rem;
        margin: 10% ;
        text-align: center;
        padding: 0;
    }

    .discription {
        padding: 0;
        position: relative; 
        margin: 0 20%;
        top: -30%; 
    }

    .btn {
        position: relative;
        top: -15%;
        padding: 2em;
        margin: 0;
    }
}