@mixin flexContent($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin button() {
  background-color: transparent;
  border: 1.5px solid #e11c5b;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 3em;
  font-size: 0.7rem;
  text-align: center;
  display: inline;
}

.landing {
  @include flexContent(column);

  background-image: url("../kjd-assets/hearo-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.main-nav {
  list-style-type: none;
  display: none;
}

ul {
  padding: 0.5em;
  margin: 1.5em;
  background-color: #20172890;
  border-radius: 10px;
}

.nav-links {
  margin-top: 10em;
  text-decoration: none;
  color: #56b0f0;
}

.nav-links:hover {
  padding: .4em .3em;
  background-color: #e11c5b;
  color: rgba(255, 255, 255, 1);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  img {
    height: 85%;
  }
}

.scroll {
  margin-top: 10%;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*************************

Desktop view

*************************/

@media screen and (min-device-width: 800px) and (max-device-width: 2560px) {
  .landing {
    height: 145vh;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    padding-bottom: 0;
    width: 100%;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  ul {
    padding: 0.9em 1.5em;
    margin: 1em;
    background-color: #201728;
    border-radius: 2px;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin: 2rem;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    padding: .6em 0;
    background-color: #e11c5b;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
  }

  .scroll {
    margin-top: 13%;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-60px);
    }
    60% {
      transform: translateY(-30px);
    }
  }
}
