@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../kjd-assets/hearo-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.main-nav {
  list-style-type: none;
  display: none;
}

ul {
  padding: 0.5em;
  margin: 1.5em;
  background-color: #20172890;
  border-radius: 10px;
}

.nav-links {
  margin-top: 10em;
  text-decoration: none;
  color: #56b0f0;
}

.nav-links:hover {
  padding: .4em .3em;
  background-color: #e11c5b;
  color: white;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.logo img {
  height: 85%;
}

.scroll {
  margin-top: 10%;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/*************************

Desktop view

*************************/
@media only screen and (min-width: 992px) {
  .landing {
    height: 145vh;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-radius: 2px;
    padding-bottom: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  ul {
    padding: 0.9em 1.5em;
    margin: 1em;
    background-color: #201728;
    border-radius: 2px;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin: 2rem;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-links:hover {
    padding: .6em 0;
    background-color: #e11c5b;
    border-radius: 2px;
    color: white;
  }
  .scroll {
    margin-top: 13%;
  }
  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    60% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    60% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #201728;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 80%;
}

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6F249B;
  padding: 1em;
  position: absolute;
  margin: 0 5%;
  top: -15%;
}

.discription::before {
  position: absolute;
  background: #6F249B;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

p {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin: 0 2rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.about-btn {
  background-color: transparent;
  border: 1.5px solid #e11c5b;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 3em;
  font-size: 0.7rem;
  text-align: center;
  display: inline;
}

.arrow-right {
  margin-left: -20px;
}

.content {
  z-index: 2;
}

.about-us::before {
  position: absolute;
  background: #201728;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}

/*************************

Desktop view

*************************/
@media (min-width: 992px) {
  .about-us {
    top: 83%;
  }
  p {
    font-size: 2.8rem;
    margin: 10%;
    text-align: center;
    padding: 0;
  }
  .discription {
    padding: 0;
    position: relative;
    margin: 0 20%;
    top: -30%;
  }
  .btn {
    position: relative;
    top: -15%;
    padding: 2em;
    margin: 0;
  }
}

.glyph-3 {
  position: absolute;
  z-index: 1;
  margin-top: -23em;
  height: 20%;
}

.ad-communi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #201728;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 40%;
  padding-bottom: 17%;
  height: 100vh;
}

.hex-gradient {
  position: absolute;
  width: 30%;
  top: 1%;
  left: 10%;
}

section {
  margin: 0 6rem;
}

section h1 {
  position: absolute;
  top: 5%;
  left: 12%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5%;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  z-index: 2;
  text-transform: capitalize;
}

section p {
  position: absolute;
  text-align: left;
  left: 6%;
  bottom: 30%;
  font-family: 'Montserrat', sans-serif;
  margin: 0 10.5%;
  font-size: .7rem;
  color: #fff;
  line-height: 1.9em;
  z-index: 1;
}

section .glyph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 76%;
  top: 19%;
  position: absolute;
  height: 10%;
  z-index: 1;
}

section .image-slider-1 {
  max-width: 70%;
  position: absolute;
  top: 25%;
  left: 20%;
}

section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 70%;
  position: absolute;
  left: 17%;
}

section .read-btn {
  background-color: transparent;
  border: 1.5px solid #e11c5b;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 3em;
  font-size: 0.7rem;
  text-align: center;
  display: inline;
}

section img {
  margin-left: -15px;
}

.arrow-glyph {
  position: absolute;
  left: 50%;
  top: 85%;
  height: 10%;
}

/*************************

Desktop view

*************************/
@media only screen and (min-width: 992px) {
  .glyph-3 {
    position: absolute;
    z-index: 1;
    margin-top: -28em;
    height: 20%;
  }
  .ad-communi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30%;
    padding-bottom: 17%;
    height: 120vh;
  }
  .hex-gradient {
    position: absolute;
    width: 30%;
    top: 9%;
    left: 25%;
  }
  .image-slider-1 {
    max-width: 50%;
    position: absolute;
    margin-left: 16.2%;
    margin-top: 1%;
  }
  section {
    margin: 0 6rem;
  }
  section h1 {
    text-transform: capitalize;
    top: 18%;
    left: -37%;
    margin: 0 50%;
    font-size: 3.5rem;
  }
  section p {
    left: -53%;
    bottom: 54%;
    font-size: .8rem;
    margin: 0 66%;
    line-height: 1.9em;
  }
  section .glyph {
    left: 73.5%;
    top: 20%;
    position: absolute;
    height: 13%;
    z-index: 1;
  }
  section .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
    position: absolute;
    left: 11%;
  }
  .arrow-glyph {
    position: absolute;
    left: 30%;
    top: 65.5%;
    height: 13%;
  }
}

@media only screen and (width: 1024px) {
  .image-slider-1 {
    max-width: 50%;
  }
}

.glyph-2 {
  position: absolute;
  z-index: 1;
  bottom: 45%;
  right: 15%;
  height: 10%;
}

.data-ana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6F249B;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 17%;
  height: 120vh;
}

.data-ana h1 {
  position: absolute;
  top: 18%;
  left: 12%;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  z-index: 2;
  text-transform: capitalize;
}

.data-ana p {
  position: absolute;
  text-align: left;
  left: 6%;
  bottom: 32%;
  font-family: 'Montserrat', sans-serif;
  margin: 0 10.5%;
  font-size: .7rem;
  color: #fff;
  line-height: 1.9em;
  z-index: 5;
}

section .btn-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 70%;
  position: absolute;
  left: 17%;
}

section .read-btn-2 {
  background-color: transparent;
  border: 1.5px solid #e11c5b;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 3em;
  font-size: 0.7rem;
  text-align: center;
  display: inline;
}

section .arrow {
  position: absolute;
  top: 12px;
  margin-left: 65px;
  z-index: 2;
}

.data-ana::before {
  position: absolute;
  background: #6F249B;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

.circle-gradient {
  position: absolute;
  width: 30%;
  top: 13%;
  left: 10%;
}

.image-slider-2 {
  max-width: 70%;
  position: absolute;
  top: 30%;
  left: 20%;
}

/*************************

Desktop view

*************************/
@media only screen and (min-width: 992px) {
  .data-ana {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #6F249B;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 17%;
    height: 120vh;
  }
  .data-ana h1 {
    position: absolute;
    top: 30%;
    left: 7.5%;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 3.5rem;
    font-weight: normal;
    z-index: 2;
    text-transform: capitalize;
  }
  .data-ana p {
    position: absolute;
    text-align: left;
    left: 50%;
    bottom: 39%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15%;
    font-size: .9rem;
    color: #fff;
    line-height: 1.9em;
    z-index: 5;
  }
  .data-ana .glyph-2 {
    position: absolute;
    z-index: 1;
    bottom: 16%;
    right: 45%;
    height: 10%;
  }
  section .btn-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 65%;
    position: absolute;
    left: 65%;
  }
  section .read-btn-2 {
    background-color: transparent;
    border: 1.5px solid #e11c5b;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 3em;
    font-size: 0.7rem;
    text-align: center;
    display: inline;
  }
  section .arrow {
    position: absolute;
    top: 10px;
    height: 50%;
    margin-left: 65px;
    z-index: 2;
  }
  .data-ana::before {
    position: absolute;
    background: #6F249B;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
  }
  .image-slider-2 {
    max-width: 70%;
    position: absolute;
    top: 30%;
    left: 15%;
  }
}

section .circle-gradient {
  position: absolute;
  width: 35%;
  top: 18%;
  left: 47%;
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120vh;
}

.latest h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .5rem;
  color: #E11C5B;
  font-weight: 700;
  letter-spacing: 1px;
}

.latest p {
  margin-left: -5%;
  text-align: left;
  font-family: 'Playfair Display', serif;
  padding: .5rem;
}

.arrow {
  margin-left: 70%;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.arrow:hover {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.card-1, .card-2, .card-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
  padding: 10%;
}

.card-1 {
  background-image: url("../kjd-assets/bg-square-gradient.png");
}

.card-2 {
  background-image: url("../kjd-assets/bg-rectangle-gradient.png");
}

.card-3 {
  background-image: url("../kjd-assets/bg-circle-gradient.png");
}

/*************************

Desktop view

*************************/
@media only screen and (min-width: 992px) {
  .latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 4em;
    height: 60vh;
  }
  .latest h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .7em;
    color: #E11C5B;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .latest p {
    text-align: left;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
  }
  .arrow {
    height: 10%;
    margin-left: 80%;
    margin-bottom: 5%;
  }
  .card-1, .card-2, .card-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 2.5%;
    padding: 0;
  }
  .inner-news {
    padding: 5%;
    margin: 0 10% 25% 0;
  }
  .card-1 .inner-news {
    padding: 5%;
    margin: 0 10% 15% 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #201728;
}

footer h2 {
  color: #E11C5B;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px #fff solid;
  margin: 10% 25%;
}

footer li {
  position: relative;
  line-height: 1.5rem;
  font-size: .8rem;
  text-align: center;
  color: #fff;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 12%;
}

/*************************

Desktop view

*************************/
@media only screen and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
  }
  footer h2 {
    color: #E11C5B;
    font-weight: 200;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px #fff solid;
    font-size: 1.2rem;
    margin: 0 5em;
  }
  footer ul li {
    position: relative;
    line-height: 1.5rem;
    font-size: .8em;
    text-align: left;
    color: #fff;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 4.4em;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.overlap {
  position: relative;
}

.container {
  max-width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 150%;
    overflow: hidden;
  }
}
/*# sourceMappingURL=styles.css.map */