@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import "landing";
@import "about-us";
@import "ad-communi";
@import "data-ana";
@import "latest";



body {
    padding: 0;
    margin: 0;
    
}

.overlap {
    position: relative;
}


@media only screen and (min-width: 992px) {
    .container {
        max-width: 150%;

        
    }
}